//////// KEY PROPERTY PAIRS ////////

//// A ////
$align-content-key-prop: ('align-content': align-content);
$align-items-key-prop: ('align-items': align-items);
$align-self-key-prop: ('align-self': align-self);
$animation-delay-key-prop: ('animation-delay': animation-delay);
$animation-direction-key-prop: ('animation-direction': animation-direction);
$animation-duration-key-prop: ('animation-duration': animation-duration);
$animation-fill-mode-key-prop: ('animation-fill-mode': animation-fill-mode);
$animation-iteration-count-key-prop: ('animation-iteration-count': animation-iteration-count);
$animation-name-key-prop: ('animation-name': animation-name);
$animation-play-state-key-prop: ('animation-play-state': animation-play-state);
$animation-timing-function-key-prop: ('animation-timing-function': animation-timing-function);
//// B ////
$backface-visibility-key-prop: ('backface-visibility': backface-visibility);
$background-attachment-key-prop: ('background-attachment': background-attachment);
$background-clip-key-prop: ('background-clip': background-clip);
$background-color-key-prop: ('background-color': background-color);
$background-image-key-prop: ('background-image': background-image);
$background-origin-key-prop: ('background-origin': background-origin);
$background-position-key-prop: ('background-position': background-position);
$background-repeat-key-prop: ('background-repeat': background-repeat);
$background-size-key-prop: ('background-size': background-size);
$border-bottom-color-key-prop: ('border-bottom-color': border-bottom-color);
$border-bottom-left-radius-key-prop: ('border-bottom-left-radius': border-bottom-left-radius);
$border-bottom-right-radius-key-prop: ('border-bottom-right-radius': border-bottom-right-radius);
$border-bottom-style-key-prop: ('border-bottom-style': border-bottom-style);
$border-bottom-width-key-prop: ('border-bottom-width': border-bottom-width);
$border-collapse-key-prop: ('border-collapse': border-collapse);
$border-color-key-prop: ('border-color': border-color);
$border-image-key-prop: ('border-image': border-image);
$border-image-outset-key-prop: ('border-image-outset': border-image-outset);
$border-image-repeat-key-prop: ('border-image-repeat': border-image-repeat);
$border-image-slice-key-prop: ('border-image-slice': border-image-slice);
$border-image-source-key-prop: ('border-image-source': border-image-source);
$border-image-width-key-prop: ('border-image-width': border-image-width);
$border-left-color-key-prop: ('border-left-color': border-left-color);
$border-left-style-key-prop: ('border-left-style': border-left-style);
$border-left-width-key-prop: ('border-left-width': border-left-width);
$border-radius-key-prop: ('border-radius': border-radius);
$border-right-color-key-prop: ('border-right-color': border-right-color);
$border-right-style-key-prop: ('border-right-style': border-right-style);
$border-right-width-key-prop: ('border-right-width': border-right-width);
$border-spacing-key-prop: ('border-spacing': border-spacing);
$border-style-key-prop: ('border-style': border-style);
$border-top-color-key-prop: ('border-top-color': border-top-color);
$border-top-left-radius-key-prop: ('border-top-left-radius': border-top-left-radius);
$border-top-right-radius-key-prop: ('border-top-right-radius': border-top-right-radius);
$border-top-style-key-prop: ('border-top-style': border-top-style);
$border-top-width-key-prop: ('border-top-width': border-top-width);
$border-width-key-prop: ('border-width': border-width);
$bottom-key-prop: ('bottom': bottom);
$box-shadow-key-prop: ('box-shadow': box-shadow);
$box-sizing-key-prop: ('box-sizing': box-sizing);
//// C ////
$caption-side-key-prop: ('caption-side': caption-side);
$clear-key-prop: ('clear': clear);
$color-key-prop: ('color': color);
$column-count-key-prop: ('column-count': column-count);
$column-fill-key-prop: ('column-fill': column-fill);
$column-gap-key-prop: ('column-gap': column-gap);
$column-rule-key-prop: ('column-rule': column-rule);
$column-rule-color-key-prop: ('column-rule-color': column-rule-color);
$column-rule-style-key-prop: ('column-rule-style': column-rule-style);
$column-rule-width-key-prop: ('column-rule-width': column-rule-width);
$column-span-key-prop: ('column-span': column-span);
$column-width-key-prop: ('column-width': column-width);
$content-key-prop: ('content': content);
$counter-increment-key-prop: ('counter-increment': counter-increment);
$counter-reset-key-prop: ('counter-reset': counter-reset);
$cursor-key-prop: ('cursor': cursor);
//// D ////
$direction-key-prop: ('direction': direction);
$display-key-prop: ('display': display);
//// E ////
$empty-cells-key-prop: ('empty-cells': empty-cells);
//// F ////
$flex-key-prop: ('flex': flex);
$flex-basis-key-prop: ('flex-basis': flex-basis);
$flex-direction-key-prop: ('flex-direction': flex-direction);
$flex-flow-key-prop: ('flex-flow': flex-flow);
$flex-grow-key-prop: ('flex-grow': flex-grow);
$flex-shrink-key-prop: ('flex-shrink': flex-shrink);
$flex-wrap-key-prop: ('flex-wrap': flex-wrap);
$float-key-prop: ('float': float);
$font-key-prop: ('font': font);
$font-family-key-prop: ('font-family': font-family);
$font-size-key-prop: ('font-size': font-size);
$font-size-adjust-key-prop: ('font-size-adjust': font-size-adjust);
$font-stretch-key-prop: ('font-stretch': font-stretch);
$font-style-key-prop: ('font-style': font-style);
$font-variant-key-prop: ('font-variant': font-variant);
$font-weight-key-prop: ('font-weight': font-weight);
//// H ////
$height-key-prop: ('height': height);
//// J ////
$justify-content-key-prop: ('justify-content': justify-content);
//// L ////
$left-key-prop: ('left': left);
$letter-spacing-key-prop: ('letter-spacing': letter-spacing);
$line-height-key-prop: ('line-height': line-height);
$list-style-key-prop: ('list-style': list-style);
$list-style-image-key-prop: ('list-style-image': list-style-image);
$list-style-position-key-prop: ('list-style-position': list-style-position);
$list-style-type-key-prop: ('list-style-type': list-style-type);
//// M ////
$margin-key-prop: ('margin': margin);
$margin-bottom-key-prop: ('margin-bottom': margin-bottom);
$margin-left-key-prop: ('margin-left': margin-left);
$margin-right-key-prop: ('margin-right': margin-right);
$margin-top-key-prop: ('margin-top': margin-top);
$max-height-key-prop: ('max-height': max-height);
$max-width-key-prop: ('max-width': max-width);
$min-height-key-prop: ('min-height': min-height);
$min-width-key-prop: ('min-width': min-width);
//// O ////$
$opacity-key-prop: ('opacity': opacity);
$order-key-prop: ('order': order);
$outline-key-prop: ('outline': outline);
$outline-color-key-prop: ('outline-color': outline-color);
$outline-offset-key-prop: ('outline-offset': outline-offset);
$outline-style-key-prop: ('outline-style': outline-style);
$outline-width-key-prop: ('outline-width': outline-width);
$overflow-key-prop: ('overflow': overflow);
$overflow-x-key-prop: ('overflow-x': overflow-x);
$overflow-y-key-prop: ('overflow-y': overflow-y);
//// P ////
$padding-key-prop: ('padding': padding);
$padding-bottom-key-prop: ('padding-bottom': padding-bottom);
$padding-left-key-prop: ('padding-left': padding-left);
$padding-right-key-prop: ('padding-right': padding-right);
$padding-top-key-prop: ('padding-top': padding-top);
$page-break-after-key-prop: ('page-break-after': page-break-after);
$page-break-before-key-prop: ('page-break-before': page-break-before);
$page-break-inside-key-prop: ('page-break-inside': page-break-inside);
$perspective-key-prop: ('perspective': perspective);
$perspective-origin-key-prop: ('perspective-origin': perspective-origin);
$position-key-prop: ('position': position);
//// Q ////
$quotes-key-prop: ('quotes': quotes);
//// R ////
$resize-key-prop: ('resize': resize);
$right-key-prop: ('right': right);
//// T ////
$tab-size-key-prop: ('tab-size': tab-size);
$table-layout-key-prop: ('table-layout': table-layout);
$text-align-key-prop: ('text-align': text-align);
$text-align-last-key-prop: ('text-align-last': text-align-last);
$text-decoration-key-prop: ('text-decoration': text-decoration);
$text-decoration-color-key-prop: ('text-decoration-color': text-decoration-color);
$text-decoration-line-key-prop: ('text-decoration-line': text-decoration-line);
$text-decoration-style-key-prop: ('text-decoration-style': text-decoration-style);
$text-indent-key-prop: ('text-indent': text-indent);
$text-justify-key-prop: ('text-justify': text-justify);
$text-overflow-key-prop: ('text-overflow': text-overflow);
$text-shadow-key-prop: ('text-shadow': text-shadow);
$text-transform-key-prop: ('text-transform': text-transform);
$top-key-prop: ('top': top);
$transform-key-prop: ('transform': transform);
$transform-origin-key-prop: ('transform-origin': transform-origin);
$transform-style-key-prop: ('transform-style': transform-style);
$transition-key-prop: ('transition': transition);
$transition-delay-key-prop: ('transition-delay': transition-delay);
$transition-duration-key-prop: ('transition-duration': transition-duration);
$transition-property-key-prop: ('transition-property': transition-property);
$transition-timing-function-key-prop: ('transition-timing-function': transition-timing-function);
//// U ////
$unicode-bidi-key-prop: ('unicode-bidi': unicode-bidi);
//// V ////
$vertical-align-key-prop: ('vertical-align': vertical-align);
$visibility-key-prop: ('visibility': visibility);
//// W ////
$white-space-key-prop: ('white-space': white-space);
$width-key-prop: ('width': width);
$word-break-key-prop: ('word-break': word-break);
$word-spacing-key-prop: ('word-spacing': word-spacing);
$word-wrap-key-prop: ('word-wrap': word-wrap);
//// Z ////
$z-index-key-prop: ('z-index': z-index);

$property-keys-props: (
  'align-content': $align-content-key-prop,
  'align-items': $align-items-key-prop,
  'align-self': $align-self-key-prop,
  'animation-delay': $animation-delay-key-prop,
  'animation-direction': $animation-direction-key-prop,
  'animation-duration': $animation-duration-key-prop,
  'animation-fill-mode': $animation-fill-mode-key-prop,
  'animation-iteration-count': $animation-iteration-count-key-prop,
  'animation-name': $animation-name-key-prop,
  'animation-play-state': $animation-play-state-key-prop,
  'animation-timing-function': $animation-timing-function-key-prop,
  'backface-visibility': $backface-visibility-key-prop,
  'background-attachment': $background-attachment-key-prop,
  'background-clip': $background-clip-key-prop,
  'background-color': $background-color-key-prop,
  'background-image': $background-image-key-prop,
  'background-origin': $background-origin-key-prop,
  'background-position': $background-position-key-prop,
  'background-repeat': $background-repeat-key-prop,
  'background-size': $background-size-key-prop,
  'border-bottom-color': $border-bottom-color-key-prop,
  'border-bottom-left-radius': $border-bottom-left-radius-key-prop,
  'border-bottom-right-radius': $border-bottom-right-radius-key-prop,
  'border-bottom-style': $border-bottom-style-key-prop,
  'border-bottom-width': $border-bottom-width-key-prop,
  'border-collapse': $border-collapse-key-prop,
  'border-color': $border-color-key-prop,
  'border-image': $border-image-key-prop,
  'border-image-outset': $border-image-outset-key-prop,
  'border-image-repeat': $border-image-repeat-key-prop,
  'border-image-slice': $border-image-slice-key-prop,
  'border-image-source': $border-image-source-key-prop,
  'border-image-width': $border-image-width-key-prop,
  'border-left-color': $border-left-color-key-prop,
  'border-left-style': $border-left-style-key-prop,
  'border-left-width': $border-left-width-key-prop,
  'border-radius': $border-radius-key-prop,
  'border-right-color': $border-right-color-key-prop,
  'border-right-style': $border-right-style-key-prop,
  'border-right-width': $border-right-width-key-prop,
  'border-spacing': $border-spacing-key-prop,
  'border-style': $border-style-key-prop,
  'border-top-color': $border-top-color-key-prop,
  'border-top-left-radius': $border-top-left-radius-key-prop,
  'border-top-right-radius': $border-top-right-radius-key-prop,
  'border-top-style': $border-top-style-key-prop,
  'border-top-width': $border-top-width-key-prop,
  'border-width': $border-width-key-prop,
  'bottom': $bottom-key-prop,
  'box-shadow': $box-shadow-key-prop,
  'box-sizing': $box-sizing-key-prop,
  'caption-side': $caption-side-key-prop,
  'clear': $clear-key-prop,
  'color': $color-key-prop,
  'column-count': $column-count-key-prop,
  'column-fill': $column-fill-key-prop,
  'column-gap': $column-gap-key-prop,
  'column-rule': $column-rule-key-prop,
  'column-rule-color': $column-rule-color-key-prop,
  'column-rule-style': $column-rule-style-key-prop,
  'column-rule-width': $column-rule-width-key-prop,
  'column-span': $column-span-key-prop,
  'column-width': $column-width-key-prop,
  'content': $content-key-prop,
  'counter-increment': $counter-increment-key-prop,
  'counter-reset': $counter-reset-key-prop,
  'cursor': $cursor-key-prop,
  'direction': $direction-key-prop,
  'display': $display-key-prop,
  'empty-cells': $empty-cells-key-prop,
  'flex': $flex-key-prop,
  'flex-basis': $flex-basis-key-prop,
  'flex-direction': $flex-direction-key-prop,
  'flex-flow': $flex-flow-key-prop,
  'flex-grow': $flex-grow-key-prop,
  'flex-shrink': $flex-shrink-key-prop,
  'flex-wrap': $flex-wrap-key-prop,
  'float': $float-key-prop,
  'font': $font-key-prop,
  'font-family': $font-family-key-prop,
  'font-size': $font-size-key-prop,
  'font-size-adjust': $font-size-adjust-key-prop,
  'font-stretch': $font-stretch-key-prop,
  'font-style': $font-style-key-prop,
  'font-variant': $font-variant-key-prop,
  'font-weight': $font-weight-key-prop,
  'height': $height-key-prop,
  'justify-content': $justify-content-key-prop,
  'left': $left-key-prop,
  'letter-spacing': $letter-spacing-key-prop,
  'line-height': $line-height-key-prop,
  'list-style': $list-style-key-prop,
  'list-style-image': $list-style-image-key-prop,
  'list-style-position': $list-style-position-key-prop,
  'list-style-type': $list-style-type-key-prop,
  'margin': $margin-key-prop,
  'margin-bottom': $margin-bottom-key-prop,
  'margin-left': $margin-left-key-prop,
  'margin-right': $margin-right-key-prop,
  'margin-top': $margin-top-key-prop,
  'max-height': $max-height-key-prop,
  'max-width': $max-width-key-prop,
  'min-height': $min-height-key-prop,
  'min-width': $min-width-key-prop,
  'opacity': $opacity-key-prop,
  'order': $order-key-prop,
  'outline': $outline-key-prop,
  'outline-color': $outline-color-key-prop,
  'outline-offset': $outline-offset-key-prop,
  'outline-style': $outline-style-key-prop,
  'outline-width': $outline-width-key-prop,
  'overflow': $overflow-key-prop,
  'overflow-x': $overflow-x-key-prop,
  'overflow-y': $overflow-y-key-prop,
  'padding': $padding-key-prop,
  'padding-bottom': $padding-bottom-key-prop,
  'padding-left': $padding-left-key-prop,
  'padding-right': $padding-right-key-prop,
  'padding-top': $padding-top-key-prop,
  'page-break-after': $page-break-after-key-prop,
  'page-break-before': $page-break-before-key-prop,
  'page-break-inside': $page-break-inside-key-prop,
  'perspective': $perspective-key-prop,
  'perspective-origin': $perspective-origin-key-prop,
  'position': $position-key-prop,
  'quote': $quotes-key-prop,
  'resize': $resize-key-prop,
  'right': $right-key-prop,
  'tab-size': $tab-size-key-prop,
  'table-layout': $table-layout-key-prop,
  'text-align': $text-align-key-prop,
  'text-align-last': $text-align-last-key-prop,
  'text-decoration': $text-decoration-key-prop,
  'text-decoration-color': $text-decoration-color-key-prop,
  'text-decoration-line': $text-decoration-line-key-prop,
  'text-decoration-style': $text-decoration-style-key-prop,
  'text-indent': $text-indent-key-prop,
  'text-justify': $text-justify-key-prop,
  'text-overflow': $text-overflow-key-prop,
  'text-shadow': $text-shadow-key-prop,
  'text-transform': $text-transform-key-prop,
  'top': $top-key-prop,
  'transform': $transform-key-prop,
  'transform-origin': $transform-origin-key-prop,
  'transform-style': $transform-style-key-prop,
  'transition': $transition-key-prop,
  'transition-delay': $transition-delay-key-prop,
  'transition-duration': $transition-duration-key-prop,
  'transition-property': $transition-property-key-prop,
  'transition-timing-function': $transition-timing-function-key-prop,
  'unicode-bidi': $unicode-bidi-key-prop,
  'vertical-align': $vertical-align-key-prop,
  'visibility': $visibility-key-prop,
  'white-space': $white-space-key-prop,
  'width': $width-key-prop,
  'word-break': $word-break-key-prop,
  'word-spacing': $word-spacing-key-prop,
  'word-wrap': $word-wrap-key-prop,
  'z-index': $z-index-key-prop,
);
