//////// FONT FAMILY ////////

//// MAIN FONT FAMILY
$font-family-primary: hevetica !default;
$font-family-secondary: verdana !default;
$font-family-tertiary: arial !default;
$font-family: $font-family-primary, $font-family-secondary, $font-family-tertiary !default;

//////// CUSTOM PROPERTIES /////////
:root {

  //// FONT FAMILY ////
  --f-primary: #{$font-family-primary};
  --f-secondary: #{$font-family-secondary};
  --f-tertiary: #{$font-family-tertiary};
  --f-families: #{$font-family};
}

//////// FONT LIST ////////

//// FONT FAMILY LIST ////
$font-family-list: (
  'f-primary': var(--f-primary),
  'f-secondary': var(--f-secondary),
  'f-tertiary': var(--f-tertiary),
);
