//////// FONT FAMILY ////////

//// MAIN FONT FAMILY
$font-family-primary: hevetica !default;
$font-family-secondary: verdana !default;
$font-family-tertiary: arial !default;
$font-family: $font-family-primary, $font-family-secondary, $font-family-tertiary !default;

//////// CUSTOM PROPERTIES /////////
:root {

  //// FONT FAMILY ////
  --font-family: #{$font-family};
}

//////// FONT LIST ////////
$font-families: (
  "primary": var(--font-family-primary),
  "secondary": var(--font-family-secondary),
  "tertiary": var(--font-family-tertiary),
);
